<div class="wrapper">
  <div class="checkout container">
    <div class="content">

      <header>
        <p>
          Wybierz sposób płatności:
        </p>
      </header>

      <%= form_tag("/payments", method: "post", id: "payment-form") do %>
        <section>
          <label for="amount">
            <span class="input-label">Całkowity koszt:</span>
            <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" readonly="readonly">
            </div>
          </label>

          <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
          </div>
        </section>

        <input type="hidden" id="nonce" name="payment_method_nonce" />
        <button class="button" type="submit"><span>Zapłać</span></button>
      <% end %>

    </div>
  </div>
</div>
<div class="someClassName"></div>
<button id="fake-payment-complete-button">Anuluj płatność</button>
<script>
    document.getElementById("fake-payment-complete-button").addEventListener('click', () => {
      alert("Exiting!");
      window.postMessage("Post message from web");
    })
</script>

<script src="https://js.braintreegateway.com/web/dropin/1.14.1/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = "<%= @client_token %>";
  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();
      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-suppress-warning' => true, 'data-turbolinks-track' => true %>
